<!DOCTYPE html>
<html>
	<head>
		<title>I Am A Pirateman</title>
	</head>
	<body>
		<h4>This Is Me</h4>
		<p>Name: <%=@pirate["name"]%></p>
		<p>Weight: <%=@pirate["weight"]%></p>
		<p>Height: <%=@pirate["height"]%></p>
		<h4>This Is My Ship</h4>
		<p>Ship:<%=@ship0["name"]%></p>
		<p>type:<%=@ship0["type"]%></p>
		<p>booty: <%=@ship0["booty"]%></p>
		<h4>This Is My Ship</h4>
		<p>Ship:<%=@ship1["name"]%></p>
		<p>type:<%=@ship1["type"]%></p>
		<p>booty: <%=@ship1["booty"]%></p>
	</body>
</html>
